{{extend 'layout.html'}}

<h2>{{=course.code}}: {{=course.name}}</h2>
<h3>{{=section.name}}</h3>

{{if not membership:}}
<a class="btn btn-primary" 
   href="{{=URL('signup',args=section.id)}}">Sign Up for this class</a>
{{else:}}
<a class="btn btn-primary" 
   href="{{=URL('drop',args=section.id)}}">Drop this class</a>
{{pass}}

<table class="table">
  <tr>
    <td>
      <a href="{{=URL('section',args=section.id)}}">{{=section.name}}</a>
    </td>
    <td>{{=section.start_date}}</td>
    <td>{{=section.stop_date}}</td>
    <td>{{=section.meeting_time}}</td>
    <td>{{=section.meeting_place}}</td>
    <td>{{='in class' if section.inclass else ''}}</td>
    <td>{{='on line' if section.on_line else ''}}</td>
  </tr>
</table>
{{=course.description}}

<h3>Syllabus</h3>
{{=MARKMIN(section.syllabus)}}

<h3>Service</h3>
<a href="{{=URL('members',args=section.id)}}">Members</a>
