{{extend 'layout.html'}}

<h2>{{=course.code}}: {{=course.name}}</h2>
<h3>{{=section.name}}</h3>

{{=A('Sign Up for this class' if not membership else 'Drop this class',
     _class="btn btn-primary",callback=URL('enroll',args=section.id),
     target="<self>")}}

<table class="table">
  <tr>
    <td>
      <a href="{{=URL('section',args=section.id)}}">{{=section.name}}</a>
    </td>
    <td>{{=section.start_date}}</td>
    <td>{{=section.stop_date}}</td>
    <td>{{=section.meeting_time}}</td>
    <td>{{=section.meeting_place}}</td>
    <td>{{='in class' if section.inclass else ''}}</td>
    <td>{{='on line' if section.on_line else ''}}</td>
  </tr>
</table>
{{=course.description}}

<h3>Syllabus</h3>
{{=MARKMIN(section.syllabus)}}

