{{extend 'layout.html'}}
<h1>Student Grade Interface</h1><br><br>

<h4>{{=section.name}} - {{=auth.user.first_name}} {{=auth.user.last_name}}</h4>
<table class="table">
  <tr>
    <th>Assignment</th>	
    <th>Grade</th>
  </tr>
  {{for g in student_grades:}}
  <tr>
        <td>{{=g.homework.name}}</td>
        <td>
        {{if g.assignment_grade.grade:}}
            {{=g.assignment_grade.grade}} / {{=g.homework.points}}
        {{else:}}
            - / {{=g.homework.points}}
        {{pass}}
        </td>
  <tr>
  {{pass}}
 </table>
{{pass}}
