{{extend 'layout.html'}}


<h1>Welcome to Grade Interface</h1>
<a class="btn btn-primary" href="{{=URL('index',args=1)}}"> back</a>
<h4>{{=role}}</h4>



<div id="dataTable" class="handsontable"></div>
<button class="btn btn-primary" name="save" > Save</button>


<div id="example1console"></div>


<script>
 var data = [
 {{for row in users:}}
     {
       id:  '{{=row.auth_user.id }}',
       name: '{{=row.auth_user.first_name  + " " + row.auth_user.last_name}}'
        {{for hw in row.score:}}
            ,{{=hw.homework.name}}:
                    {{if hw.assignment_grade.grade:}}
                        '{{=hw.assignment_grade.grade}}'
                    {{else:}}
                        ''
                    {{pass}}

        {{pass}}
      },
  {{pass}}
  ];



  $('#dataTable').handsontable({

    data: data,
    colHeaders: ['id', 'name'{{for n in names:}},'{{=n.homework.name}}'{{pass}}],
    columnSorting: true,
    contextMenu: true,
    currentRowClassName: 'currentRow',
    currentColClassName: 'currentCol',
    fixedColumnsLeft: 2,
    rowHeaders: true
  });

 var $console = $("#example1console");
 var handsontable = $('#dataTable').data('handsontable');

    $("button[name='save']").click(function () {
      $.ajax({
        url: "{{=URL('savedata',args=1)}}",
        data: JSON.stringify({"data": handsontable.getData()}), //returns all cells' data
        dataType: 'json',
        type: 'POST',
        success: function (res) {
            if(res)
            {
                $console.text(JSON.stringify(res, undefined, 2));
            }
             else {
                $console.text('Save error');
            }
        },
        error: function () {
          $console.text("Error something didn't work");
        }
      });
    });

</script>