# ignore the git ignore config file
.gitignore

.idea/*

#do not track local sessions
sessions/*

#do not track local errors
errors/*

#do not track local databases
databases/*

#do not track local logs
progress.log

# ignore unneeded python files
*.pyc
.pythonhistory

# personal stuff
models/z_db_personal.py
