# Ignore the git ignore config file.
.gitignore

# The files under these directories are volatile
# and should not be tracked.
sessions/
cache/
uploads/
errors/
databases/

# Do not track local logs.
progress.log

# Ignore unneeded python files
**/*.pyc
.pythonhistory
**/__init__*

# Ignore temp files.
**/#*
*~

# Jetbrains
.idea/*

# Mac
.DS_Store
