{{extend 'layout.html'}}
<!--<script src="../static/js/jquery-1.11.1.js" ></script>-->
<script src="../static/js/moment.min.js" ></script>
<script src="../static/js/fullcalendar.js" ></script>
<script src="../static/js/lms299calendar.js"</script>
<script>
	$(document).ready(function() {
		console.log('hi');
	    $('#fullcalendar').lmsCalendar();
	    console.log('goodbye');
	});
</script>
<!--
<script>
	$(document).ready(function() {
		console.log('hi');
    	$('#fullcalendar').fullCalendar({
    	});
	});
</script>
-->
<div id="fullcalendar"></div>