{{import HTMLParser}}
{{import cgi}}
{{from gluon.serializers import json}}

{{extend 'layout.html'}}

<script src="../static/js/moment.min.js" ></script>
<script src="../static/js/fullcalendar.js" ></script>
<script src="../static/js/lms299calendar.js"></script>
<script>
	$(document).ready(function() {
        $(function() {
            $( "#courses" ).selectmenu();
        });
        {{if session.selectedCourse:}}
	    $('#calendar').lmsCalendar({
            events: {{=XML(json(selectedCourseEvents))}}
	    });
        {{pass}}
	});
</script>

<label for="courses">Select a course to view</label>
<select name="courses" id="courses">
    {{for course in myCourses:}}
        <option>{{=course.name}}</option>
    {{pass}}
</select>

<div id="calendar"></div>
{{=myCourses}}

{{=rows}}

{{=selectedCourseEvents}}
