{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/moment.min.js')}}" ></script>
<script src="{{=URL('static', 'js/fullcalendar.js')}}" ></script>
<script src="{{=URL('static', 'js/lms299calendar.js')}}"></script>
<script>
	$(document).ready(function() {
	    $('#calendar').lmsCalendar({
	            height: 500,
                header: {
                   left:   'today prevYear,prev,next,nextYear',
                   center: 'title',
                   right:  'month,agendaWeek,agendaDay'
                },
	        events: {{=XML('\'' + URL('calendar', 'index.json') + '\'')}}
	    });
	});
</script>
{{end}}

<h3>Calendar</h3>
<div id="calendar"></div>
