{{extend 'layout.html'}}

<h2>Add a Recording for Section {{=section.name}}</h2>
    
<h3>Create a New Recording</h3>
<p>This will start a new Google Hangout on Air and add the new recording to the section.</p>

{{=form_new}}
<div id="hangout-start"></div>

<h3>Add an Existing Recording</h3>
{{=MARKMIN("Enter a link of the form ``https://www.youtube.com/watch?v=dQw4w9WgXcQ``")}}
{{=form_existing}}

<script>
    jQuery(document).ready( function () {
        /* form_new submit reads the state of the new_recording_is_class and passes
           that parameter in an ajax POST to the controller that loads the Hangouts
           button. When the form_new is submitted, the form is removed and replaced by
           the hangouts button. */
        jQuery('#form_new').submit(function (e) {
            e.preventDefault();
            $('#hangout-start').append('Loading...');
            ajax('{{=URL('hoa_button.load',args=section.id)}}',
               ['new_recording_is_class'], 'hangout-start');
            $(e.target).remove();
        });
    });
</script>
<script src="https://apis.google.com/js/platform.js"></script>
