{{extend 'layout.html'}}

<h2>Recordings for {{=section.name}}</h2>

<p>To watch a video, choose one from the table below by clicking on the name of your desired video. The chosen video will then load above the table.</p>
{{if is_teacher:}}
    <p>To edit the information associated with a video or to remove the video, click on the "Edit" button to the left of the video information in the table.</p>
{{pass}}

{{if videos:}}
	<p><iframe width="560" height="420" src="//www.youtube.com/embed/{{=videos.first().youtube_id}}" frameborder="0" allowfullscreen name="videoFrame"  id="videoFrame"></iframe></p>
	
	<table class="table">
		<tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Is Class</th>
        </tr>
		{{for video in videos:}}
			<tr>
				<td><a href="javascript:void(0)" onclick="ScrollToVideo('https://www.youtube.com/embed/{{=video.youtube_id}}')">{{=video.name}}</a></td>
				<td>{{=video.class_date.date()}}</td>
				<td>{{=video.class_date.time()}}</td>
				<td>{{=video.is_class}}</td>
				{{if is_teacher:}}
					<td><a class="btn btn-primary" href="{{=URL('edit', args=video.id)}}">Edit</a></td>
				{{pass}}
			</tr>
		{{pass}}
	</table>
{{else:}}
    <p><b>No videos found.</b></p>
{{pass}}

<a class="btn btn-primary" href="{{=URL('create', args=section.id)}}">Create or Add a Recording</a>

<script>
    function ScrollToVideo(video){
        videoFrame.location=video;
        location.hash='videoFrame'
    }
</script>
