{{extend 'layout.html'}}

<h2>Your Recordings</h2>

<p>To watch a video, choose one from the table below by clicking on the name of your desired video. The chosen video will then load above the table.</p>


{{if sections:}}
	{{for section in sections:}}
        <h3>{{=section.name}}</h3>
        {{=LOAD('recordings', 'section.load', args=section.id, ajax=True)}}
    {{pass}}
{{else:}}
    <p><b>No sections found.</b></p>
{{pass}}

<script>
    function ScrollToVideo(video){
        videoFrame.location=video;
        location.hash='videoFrame'
    }
</script>
