<tr class="-add-comment-template">
            <td colspan="2">
                <form class="-add-comment-form" data-app="parentId: {{parentId}}">
                    <input type="text" class="-body" />
                    <input class="btn" type="submit" value="Submit"/>
                    <a class="btn -cancel">Cancel</a>
                </form>
            </td>
</tr>