<form class="-update-comment-form">
    <input type="hidden" class="-original" value="{{body}}" />
    <textarea class="-value">{{body}}</textarea>
    <button class="btn" type="submit">Save</button>
    <a class="btn -cancel">Cancel</a>
</form>