.button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -moz-linear-gradient(top, #fff, #ddd);  
    border: 1px solid #bbb; }
    
.button:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#333)); 
    background: -moz-linear-gradient(bottom, #ddd, #aaa); }
