{{extend 'layout.html'}}
<b><font size =6>{{=page.title}}</font></b>
[ {{=A('Edit', _href=URL('wikiedit', args=request.args))}} ]<br><br>

<h4>Description</h4><hr>
{{=MARKMIN(page.body)}}<br>

<h4>Comments</h4><hr>
{{for post in comments:}}
<div class="well">
  <p>{{=db.auth_user[post.created_by].first_name}} on {{=post.created_on}}
     says <i>{{=post.body}}</i></p>
</div>
{{pass}}<br>

<style>
    form table {width: 100%}
    textarea {width:100%; max-height: 100px;}
</style>
<h4>Post a comment</h4><hr>
{{=form}}
