{{extend 'layout.html'}}

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="../static/css/jquery.handsontable.full.css">

<h1>Welcome to Grade Interface</h1>

<h4>{{=message}}</h4>



<div id="dataTable" class="handsontable"></div>

<script>
 var data = [
    ["", "Maserati", "Mazda", "Mercedes", "Mini", "Mitsubishi"],
    ["2009", 0, 2941, 4303, 354, 5814],
    ["2010", 5, 2905, 2867, 412, 5284],
    ["2011", 4, 2517, 4822, 552, 6127],
    ["2012", 2, 2422, 5399, 776, 4151]
  ];

  $('#dataTable').handsontable({
    data: data,
    minSpareRows: 1,
    colHeaders: true,
    contextMenu: true
  });

</script>