{{extend 'layout.html'}}

<div class='NoteHeader'>
  {{include 'notes/note_header.html'}}
</div>

<h3>My Subscription</h3>

<div id="noteGrid">
  <div id="custom-toolbar">
    </div>
  <table id="table-javascript"></table>
</div>

<script>
  function Note(noteId, versionId, title, createDate, creator, modifyDate, modifier, uid)
  {
  this.NoteId = noteId;
  this.VersionId = versionId;
  this.Title = title;
  this.CreateDate = createDate;
  this.Creator = creator;
  this.ModifyDate = modifyDate;
  this.Modifier = modifier;
  this.UserId = uid;
  this.TitleURL = '<a href="' + '{{=URL("notepage")}}' + '?vid=' + versionId + '">' + title + '</a>';
  this.unsubscribeURL = '<a href="' + '{{=URL("unsubscribe_note_request")}}' + '?note_id=' + noteId + '&' + 'user_id=' + uid +' " class="btn btn-default">' + 'Unsubscribe' + '</a>';
  }
{{
  from gluon.serializers import json
}}


var jsonData =
{{
    response.write(json(notes), escape=False)
}};

var noteList = [];
console.log(jsonData);
for(var i in jsonData)
{
    var o = jsonData[i];
    {console.log(1);
            var n = new Note(o.note_id, o.version_id, o.title, o.create_on, o.create_by, o.modify_on, o.modify_by, o.user_id);
            noteList.push(n);
    }
}

    $(function () {

            $('#table-javascript').bootstrapTable({
                data: noteList,
                cache: false,
                height: 400,
                striped: true,
                pagination: true,
                pageSize: 50,
                pageList: [10, 25, 50, 100, 200],
                search: false,
                showColumns: false,
                showRefresh: false,
                minimumCountColumns: 2,
                clickToSelect: true,
                toolbar: '#custom-toolbar',
                columns: [
                {
                    field: 'NoteId',
                    title: 'NoteId',
                    align: 'right',
                    valign: 'bottom',
                    sortable: true
                }, {
                    field: 'TitleURL',
                    title: 'Title',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                }, {
                    field: 'Creator',
                    title: 'Create By',
                    align: 'left',
                    valign: 'top',
                    sortable: true
                }, {
                    field: 'CreateDate',
                    title: 'Create On',
                    align: 'center',
                    valign: 'middle'
  }, {
                    field: 'Modifier',
                    title: 'Modify By',
                    align: 'center',
                    valign: 'middle',
                    sortable:true
  },
  {
                    field: 'ModifyDate',
                    title: 'Modify On',
                    align: 'center',
                    valign: 'middle',
                    sortable:true
  },
  {
                    field: 'UserId',
                    title: 'User',
                    align: 'center',
                    valign: 'middle',
                    sortable:true
  },
  
{
                          field: 'unsubscribeURL',
                          title: 'Action',
                          align: 'center',
                          valign: 'middle',
                          sortable:true
},
                          
  ]
            });
    });


  </script>

<form>
    <input  name="name" onkeyup="ajax('{{=URL('default', 'echo')}}', ['name'], 'target')" />
</form>
<div id="target"></div>


<link rel="stylesheet" href="../static/css/bootstrap-table.css">
<script src="../static/js/bootstrap-table.js"></script>
