{{extend 'layout.html'}}
<script src="https://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="../static/js/note_discuss.js"></script>
<link href="../static/css/note_discuss.css" rel="stylesheet">
<style type="text/css">
	.bs-example{
		margin: 20px;
	}
</style>
<div class='NoteHeader'>
  {{include 'notes/note_header.html'}}
</div>
<div class="bs-example">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-toggle="tab" href="#article">Note</a></li>
    <li><a data-toggle="tab" href="#discussion">Discussion</a></li>
  </ul>
  <div class="tab-content">
    <div id="article" class="tab-pane fade in active">
	  <div class="NoteHeader">
		<ul class="info">
		  <li><a onclick='#' href='{{=URL("noteeditpage",vars=dict(vid=request.vars.vid,nid=request.vars.nid))}}'>Edit</a></li>
		  <li><a onclick='' href='{{=URL("get_all_history_versions_request",vars=dict(nid=request.vars.nid))}}'>History</a></li>
		  <li><a onclick='' href='{{=URL("subscribe",vars=dict(nid=request.vars.nid))}}'>Subscibe</a></li>
		</ul>
	  </div>
      <h3 id="articleTitle"></h3>
      <p id="articleContent"></p>
	  <div class="list-group">
		<a href="#relevantList" onclick="showRelevant()" class="list-group-item active"><span id="bdCount" class="badge"></span>Relevant</a>
		<dl id="relevantList" class="dl-horizontal">
		</dl>
	  </div>	  
    </div>
    <div id="discussion" class="tab-pane fade">
	  <div class="NoteHeader">
		<ul class="info">
		  <li><a onclick='' href='#'>New Topic</a></li>
		</ul>
	  </div>
      <h3>Discussion</h3>
	  <div id="comment-wrapper">
		<table class="table table-bordered">
          <tbody>
            <tr class="-comment" data-app="{&quot;id&quot;:1,&quot;parentId&quot;:null}">
              <td class="comment-info">
                <div>
                  <span class="comment-author">Bob</span> at <span class="comment-date">1:34 AM</span>
                </div>
                <div>
                  <a class="-reply">Reply</a> 
                  <a class="-update">Update</a> 
                  <a class="-delete">Delete</a><br>
                </div>
              </td>
              <td class="comment-body">
                <div class="body-wrapper -body">Great Job!</div>
                <table class="table table-bordered -child-comments">
                  <tbody>
                    <tr class="-comment" data-app="{&quot;id&quot;:2,&quot;parentId&quot;:null}">
                      <td class="comment-info">
                        <div>
                          <span class="comment-author">John</span> at <span class="comment-date">1:35 AM</span>
                        </div>
                        <div>
                          <a class="-reply">Reply</a> 
                          <a class="-update">Update</a> 
                          <a class="-delete">Delete</a><br>
                        </div>
                      </td>
                      <td class="comment-body">
                        <div class="body-wrapper -body">Thanks!</div>
                        <table class="table table-bordered -child-comments">
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="-comment" data-app="{&quot;id&quot;:3,&quot;parentId&quot;:null}">
              <td class="comment-info">
                <div>
                  <span class="comment-author">James</span> at <span class="comment-date">1:36 AM</span>
                </div>
                <div>
                  <a class="-reply">Reply</a> 
                  <a class="-update">Update</a> 
                  <a class="-delete">Delete</a><br>
                </div>
              </td>
              <td class="comment-body">
                <div class="body-wrapper -body">Thanks for writing this!  It was very helpful.</div>
                <table class="table table-bordered -child-comments">
                </table>
              </td>
            </tr>
          </tbody>
		</table>
	  </div>
	  
    </div>
  </div>
</div>


<script type="text/javascript">
  function NoteContent(title, content)
  {
	  this.Title = title;
	  this.Content = content;
  }
  
  {{
	  from gluon.serializers import json
  }}
  var jsonData = 
	  {{
		  response.write(json(note), escape=False)
	  }};
  
  
  var n = new NoteContent(jsonData.note_version.title, jsonData.note_version.note_content);
  $("#articleTitle").text(n.Title);
  $("#articleContent").html(n.Content);

  var data = 
	  {{
		  response.write(json(rels), escape=False)
	  }};

  data = data.rels;

        var relTab = $('#relevantList');
        relTab.hide();
        
        
        var count = 0;
        
        
        for(var i=0;i<data.length;i++)
        {
            var newdt = $('<dt/>',{style:'text-align:center;background:#ddddff;margin:1px;'});
            newdt.text(data[i].tag);
            
            var ddbk = (i % 2 != 0 ? '#fff' : '#f7f7f7');
            var newdd = $('<dd/>',{style:'margin:1px;background:'+ddbk});
            for(var j=0;j<data[i].version_id.length;j++)
            {
                //console.log(data[i]);
                var newrele = $('<a/>',{style:'margin:5pt;'});
                newrele.text(data[i].version_id[j].title);
				newrele.attr('href','{{=URL("notepage")}}' + '?vid=' + data[i].version_id[j].version_id + '&nid=' + data[i].version_id[j].note_id);
                newdd.append(newrele);
                count ++;
            }
            
            relTab.append(newdt);
            relTab.append(newdd);
        }
        
        $('#bdCount').text(count);
        
        function showRelevant()
        {
            var relTab = $('#relevantList');
            if(relTab.is(':visible'))
            {
                relTab.hide();
            }
            else
            {
                relTab.show();
            }
		}

  {{
	  from gluon.serializers import json
  }}
  var jsonData = 
	  {{
		  response.write(json(message), escape=False)
	  }};

  if (jsonData == 'True')
  {
	$('#imgMessage').attr('src', '../static/images/note_message.png');
  }
</script>

<script type="text/html" id="add-comment-template"></script>


<script type="text/html" id="comment-template"></script>


<script type="text/html" id="comment-update-template"></script>
