{{extend 'layout.html'}}

<h2>Theme has been set.</h2>
<p>redirecting in 5 seconds... &nbsp&nbsp<button onclick="goHome()">Go Now</button></p>

<p><button onclick="goBack()">Go Back</button> and choose a different theme.</p>


<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">

setTimeout(
    function()
    {
        window.location = "{{=URL('default', 'index')}}";
    }, 5000);

function goBack(){
    window.location.replace('themeBack');
}

function goHome(){
    window.location = "{{=URL('default', 'index')}}"
}

</script>


