{{extend 'layout.html'}}
{{include 'web2py_ajax.html'}}


<div class="page-header">
    <h1>LMS Themes</h1>
</div>



<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Select Theme <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {{for row in rows:}}
    <li>{{=A(row.name, _href=URL('theme_picked', args=row.URL))}}</li>
    {{pass}}   
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Preview Theme <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {{for row in rows:}}
    <li>{{=A(row.name, callback=URL('preview', args=row.image_URL), target='theme_preview')}}</li>
    {{pass}}   
  </ul>
</div>   
  
  <h4>Most Popular Themes: </h4>
  {{for row in db(db.theme).select(db.theme.ALL, orderby=db.theme.use_count*-1, limitby=(0, 3)):}}
        {{=A(row.name, _href=URL('theme_picked', args=row.URL))}}
        <br>
  {{pass}}
 
  
  <div id='theme_preview'></div>
 


