<!--
Author: Curtis Weir
Date: 10/23/14
-->


{{extend 'layout.html'}}

{{if rejected is None:}}
    <h2>{{=section.name}} Dropbox</h2>
    {{for folder in folders:}}
    <div style="border-style: solid; border-width: 1px; border-color: grey grey;">
    <h3 style="text-indent: 10px;">{{=folder.name}}</h3>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Opening Date</th>
            <th>Due Date</th>
            <th>Submit</th>
            <th>My Submission</th>
        </tr>
        {{for homework in homeworks:}}
        <tr>
            {{if homework.folder == folder.id:}}
                <td>
                   <a href="{{=URL('submit',args=(homework.id, section_id))}}">{{=homework.name}}</a>
                </td>
                <td>{{=homework.opening_date}}</td>
                <td>{{=homework.due_date}}</td>
                <td>
                    <a href="{{=URL('submit',args=(homework.id, user_id))}}" class="btn btn-primary btn-small">Submit</a>
                </td>
                <td>
                    <a href="{{=URL('my_submission',args=(homework.id, user_id))}}" class="btn btn-primary btn-small">My Submission</a>
                </td>
            {{pass}}
        </tr>
        {{pass}}
    </table>
    </div>
    {{pass}}
    <div style="border-style: solid; border-width: 1px; border-color: grey grey;">
        <table>
            <tr>{{=form}}</tr>
        </table>
    </div>
{{else:}}
    <h3>{{=rejected}}</h3>
{{pass}}
