{{extend 'layout.html'}}

<h1>
	Dropbox
</h1>

{{if not courses:}}

<br>

<h2 class='well'>
	No courses available
</h2>

{{elif courses:}}	

<h3>
	Select a course to view assignments
</h3>
	
<table class="table table-hover">

	<tr>
		<th>
			Course
		</th>
		<th>
			Description
		</th>
		<th>
			Meeting Time
		</th>
		<th>
			Meeting Place
		</th>
		<th>
			Start Date
		</th>
		<th>
			End Date
		</th>
	</tr>	

	{{for row in courses:}}
	<tr>
		<td>
			<a href="{{=URL('manage_uploads',args=row.id)}}">
				{{=row.name}}: {{=row.course.code}}
			</a>
		</td>
		<td>
			{{=row.course.description}}
		</td>
		<td>
			{{=row.meeting_time}}
		</td>
		<td>
			{{=row.meeting_place}}
		</td>
		<td>
			{{=row.start_date}}
		</td>
		<td>
			{{=row.stop_date}}
		</td>
	</tr>
	{{pass}}

</table>

{{pass}}	