<!--
Author: Curtis Weir
Date: 10/23/14
-->
{{from datetime import datetime}}

{{extend 'layout.html'}}

{{if rejected is None:}}
    <h2>{{=section.name}} Dropbox</h2>
    {{is_student = is_user_student(section.id)}}
    {{if not homeworks and not folders:}}
        <h4 style="text-indent: 15px;">There is nothing to submit yet for this course section.</h4>
    {{pass}}
    {{other_homeworks = []}}
    <div style="border-style: solid; border-width: 1px; border-color: grey grey; border-radius: 10px;">
    {{for folder in folders:}}
        <h4 style="text-indent: 15px;">{{=folder.name}}</h4>
        <table class="table">
            {{if folder_is_empty(folder, homeworks):}}
                <tr><th>This folder is empty.</th></tr>
            {{else:}}
                <th>Title</th>
                <th>Opening Date</th>
                <th>Due Date</th>
                {{if is_student:}}
                <th>Grade</th>
                <th style="text-align: center;">Submit Homework</th>
                <th style="text-align: center;">My Submission</th>
                {{else:}}
                <th style="text-align: center;">Submissions</th>
                {{pass}}
            {{pass}}
            {{for homework in homeworks:}}
            <tr>
                {{if homework.folder == folder.id:}}
                    <td>
                        <a href="{{=URL('homeworks','manage_homeworks',args=(section_id))}}">{{=homework.name}}</a>
                    </td>
                    {{if homework.opening_date is not None:}}
                    <td>{{=homework.opening_date.strftime("%b %d, %Y %I:%S%p")}}</td>
                    {{else:}}
                    <td>-</td>
                    {{pass}}
                    {{if homework.due_date is not None:}}
                    <td>{{=homework.due_date.strftime("%b %d, %Y %I:%S%p")}}</td>
                    {{else:}}
                    <td>-</td>
                    {{pass}}
                    {{if is_student:}}
                    <td>{{=get_grade(homework.id) or "--"}}/{{=get_points(homework.id, section_id) or "--"}}</td>
                        <td style="text-align: center;">
                            {{if can_submit(homework):}}
                            <a href="{{=URL('submit', args=(section_id, homework.id))}}"
                               class="btn btn-primary btn-small">Submit</a>
                            {{else:}}
                                Not yet open
                            {{pass}}
                        </td>
                        <td style="text-align: center;">
                            {{if has_submitted(user_id, homework.id):}}
                                <a href="{{=URL('my_submission',args=(section_id, homework.id))}}"
                                   class="btn btn-primary btn-small">Submission</a>
                            {{else:}}
                                -
                            {{pass}}
                        </td>
                    {{else:}}
                        <td style="text-align: center;">
                            <a href="{{=URL('view_submissions',args=(section.id, homework.id))}}"
                               class="btn btn-primary btn-small">View Submissions</a>
                        </td>
                    {{pass}}
                {{pass}}
            </tr>
            {{pass}}
        </table>
    {{pass}}
        </div>
    {{for homework in homeworks:}}
        {{if homework.folder is None:}}
            {{other_homeworks.append(homework)}}
        {{pass}}
    {{pass}}
    <div style="border-style: solid; border-width: 1px; border-color: grey grey; border-radius: 10px;">
    {{if other_homeworks:}}
            <h4 style="text-indent: 15px;">No Category</h4>
            <table class="table">
                <th>Title</th>
                <th>Opening Date</th>
                <th>Due Date</th>
                {{if is_student:}}
                <th>Grade</th>
                <th style="text-align: center;">Submit Homework</th>
                <th style="text-align: center;">My Submission</th>
                {{else:}}
                <th style="text-align: center;">Submissions</th>
                {{pass}}
                {{for homework in other_homeworks:}}
                    <tr>
                        <td>
                            <a href="{{=URL('homeworks','manage_homeworks',args=(section_id))}}">{{=homework.name}}</a>
                        </td>
                        {{if homework.opening_date is not None:}}
                        <td>{{=homework.opening_date.strftime("%b %d, %Y %I:%S%p")}}</td>
                        {{else:}}
                        <td>-</td>
                        {{pass}}
                        {{if homework.due_date is not None:}}
                        <td>{{=homework.due_date.strftime("%b %d, %Y %I:%S%p")}}</td>
                        {{else:}}
                        <td>-</td>
                        {{pass}}
                        {{if is_student:}}
                            <td>{{=get_grade(homework.id) or "--"}}/{{=get_points(homework.id, section_id) or "--"}}</td>
                            <td style="text-align: center;">
                            {{if can_submit(homework):}}
                                <a href="{{=URL('submit',args=(section_id, homework.id))}}"
                                   class="btn btn-primary btn-small">Submit</a>
                            {{else:}}
                                Not open yet
                            {{pass}}
                            </td>
                            <td style="text-align: center;">
                            {{if has_submitted(user_id, homework.id):}}
                                <a href="{{=URL('my_submission',args=(section_id, homework.id))}}"
                                   class="btn btn-primary btn-small">Submission</a>
                            {{else:}}
                                -
                            {{pass}}
                             </td>
                        {{else:}}
                            <td style="text-align: center;">
                                <a href="{{=URL('view_submissions',args=(section.id, homework.id))}}"
                                   class="btn btn-primary btn-small">View Submissions</a>
                            </td>
                        {{pass}}
                    </tr>
                {{pass}}
            </table>
    {{pass}}
    </div>
{{else:}}
    <h3>{{=rejected}}</h3>
    <h4><a href="{{=URL('default', 'section',args=(section_id))}}">View this section</a></h4>
{{pass}}
