<!--
Author: Curtis Weir
Date: 10/23/14
-->

{{extend 'layout.html'}}

<h2>{{=section.name}} Dropbox</h2>
<a href="{{=URL('../course_dropbox',args=(section.id))}}"
   class="btn btn-primary">&lt;&lt; Go Back</a><p></p>

{{if rejected is None:}}
    <table class="table">
    {{for submission in student_submissions:}}
        <tr>
            <td>{{=submission.auth_user.first_name}} {{=submission.auth_user.last_name}}</td>
            <td>{{=submission.auth_user.email}}</td>
            <td><a href="{{=URL('download',args=submission.submission.file_upload)}}"
                   class="btn btn-primary btn-small">Download</td>
            <td><a href="{{=URL('feedback',args=(submission.submission.id))}}"
                   class="btn btn-primary btn-small">Leave Feedback</td>
            <td><a href="{{=URL('../../gradebook/teacher',args=(section_id))}}"
                   class="btn btn-primary btn-small">Grade Submission</td>
        </tr>
        <tr></tr>
    {{pass}}
    </table>
{{else:}}
    <h3>{{=rejected}}</h3>
<h4><a href="{{=URL('../../default/section',args=(section_id))}}">View this section</a></h4>
{{pass}}
