<!--Need an Html file where we would launch our hangout-->

{{extend 'layout.html'}}
<h1>Hangout</h1>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {{for session in sessions:}}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-{{=session['session_info'].id}}">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{=session['session_info'].id}}" aria-expanded="true" aria-controls="collapseOne">
                        {{=session['session_info'].title}} : {{=session['session_info'].start_time}}
                        ({{for member in session['members']:}}
                            {{=member.user_id.auth_user.first_name}} {{=member.user_id.auth_user.last_name}},
                         {{pass}}
                        )
                    </a>
                </h4>
            </div>
            <div id="collapse-{{=session['session_info'].id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{=session['session_info'].id}}">
                <div class="panel-body">
                    <table class="table">
                        {{for message in session['messages']:}}
                            <tr>
                                <td><strong>{{=message.sender_id.auth_user.first_name}} {{=message.sender_id.auth_user.last_name}}:</strong> {{=message.chat_message}}</td>
                                <td><small>@ {{=message.time_sent}}</small></td>
                            </tr>
                        {{pass}}
                    </table>
                </div>
            </div>
        </div>
    {{pass}}
</div>

<div class="panel-group" id="hangout" role="tablist" aria-multiselectable="true">

<form action="https://plus.google.com/hangouts/_" method="GET">
    <input type="hidden" name="gid" value="--"/>
    <select name="gd">
        <option>Hangouts</option>
        <option>Google+ API</option>
        <option>+1 Button</option>
    </select>
    <input type="submit"/>
</form>
</div>
