<!--Need an Html file where we would launch our hangout


-->
{{extend 'layout.html'}}
<h1>Hangout</h1>
<!-- TO DO: display it if the user is logged in, otherwise prompt for login first -->
<div class="panel-group" id="hangout" role="tablist" aria-multiselectable="true">
    <form action="https://plus.google.com/hangouts/_" method="GET">
        <input type="hidden" name="gid" value="317987183028"/>
        <select name="gd">
            <option>Hangouts</option>
            <option>Google+ API</option>
        </select>
        <input type="submit" value="Join Hangout"/>
    </form>
</div>
