<!DOCTYPE html>
<html>
    <head>
         <link type="text/css" rel="stylesheet" href="{{=URL('static','css/group-chat.css')}}">

        <script type="text/javascript" src="//hangoutsapi.talkgadget.google.com/talkgadget/apps/gadgets/js/rpc.js"></script>
        <script type="text/javascript" src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="//www.google.com/jsapi"></script>
        <script type="text/javascript" src="{{=URL('static','js/group_chat.js')}}"></script>
    </head>
</html>