<!DOCTYPE html>
<html>
    <head>
         <link type="text/css" rel="stylesheet" href="{{=URL('static','css/group-chat.css')}}">

        <script type="text/javascript" src="//hangoutsapi.talkgadget.google.com/talkgadget/apps/gadgets/js/rpc.js"></script>
        <script type="text/javascript" src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="//www.google.com/jsapi"></script>
        <script type="text/javascript" src="{{=URL('static','js/group_chat.js')}}"></script>
    </head>
    <body>
        <!-- message to be displayed -->
        <div id="msg"></div>l
        <h3>Simple Hangout App</h3>
        <p><input class="button" type="button" value="Show participants!" id="showParticipants" style="visibility:hidden;" onClick="showParticipants()" /></p>
        <div id="participantsDiv"></div>
        <p><input class="button" type="button" value="Send Message" id="sendMessage" onClick="sendMessage()"/></p>
        <div id="msg"></div>
        <p><a href="http://developers.google.com/+/hangouts/getting-started">Read the docs</a> to learn more about developing hangouts!</p>
        <p><a href="http://127.0.0.1:8000/lms299/groupchat/google_hangouts">Return to LMS299</a></p>
        
        <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=onClientReady"></script>
    </body>
</html>