{{extend 'layout.html'}}
<h1>Chat History</h1>
<table class="table">
    <tr>
        <th>Course</th>
        <th>Start Time</th>
        <th>Participants</th>
    </tr>
    {{for session in sessions:}}
        <tr>
            <td>{{=session['session_info'].course_section.name}}</td>
            <td>{{=session['session_info'].start_time}}</td>
            <td>
                {{for member in session['members']:}}
                    {{=member.user_id.auth_user.first_name}} {{=member.user_id.auth_user.last_name}}<br />
                 {{pass}}
            </td>
        </tr>
    {{pass}}
</table>
